.wheel.marker {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 1;
    background: rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
}
#QR-wrap {
    text-align: center;
}
#QR-img {
    width: 24%; display:inline-block;
}
#QR-userImageWrap {
    text-align:center;
}
#QR-vehicleWrapper {
    margin: 0px auto; position: relative; align-items: center; height: 100%; width: auto; background-color: white; display: inline-block;
}
#QR-userImage {
    display: inline-block;
}
#QR-wheelBoundsWrapper {
    height: 99%; width: 100%; position: absolute; top: 0;
}
