#ridestyler-quick-select {
    width: 100%;
}
#ridestyler-quick-select .config-select {
    text-align: left;
    position: relative;
    display: block;
}
#ridestyler-quick-select select {
    display: block;
    height: 30px;
    width: 100%;
    margin: 0px 0;
    z-index: 1;
}
.select-loader {
    display: none;
}
.select-loader.active-loader {
    display: inline-block;
    background-image: url('https://static.ridestyler.net/images/loaders/loader_radial_chaser_back_on_white_32.gif');
    position: absolute;
    width: 20px;
    height: 20px;
    background-position: top left;
    background-size: 100%;
    right: 0;
    bottom: 6px;
}
#ridestyler-quick-select label {
    display: inline-block;
    position: relative;
    top: 8px;
    left: 6px;
    font-size: 0.8em;
    z-index: 1;
}
#ridestyler-quick-select label::after {
    height: 12px;
    display: block;
    background: white;
    content: '';
    position: absolute;
    top: 9px;
    width: 100%;
    z-index: -1;
}
#ridestyler-quick-select button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}