.ridestyler-showcase-table {
    tbody {
        text-align: center;
    }
}



// Prevents overflow on fixed header - iPad
@media only screen and (max-width: 1025px) and (min-width: 768px) {
    .ridestyler-showcase {
        &-product-modal {
            display: flex;
            flex-direction: column;

            &-image {
                height: 45%;
                width: 100%;
            }

            &-page {
                height: 100%;
                tbody {
                    height: 77%;
                    overflow: scroll;
                }
            }
            &-summary {
                max-height: 32%;
                overflow: hidden; 
                width: 100%;
                margin-top: 49%;
            }
        }
    }
}
