@import "../responsive-mixins";

@include responsiveTabBar($tabBarWidth: 95px, $iconFontSize: 0.9em, $iconTextFontSize: 1.9em);


.ridestyler-showcase-rotate-vehicle {
    bottom: 23%;
}


.ridestyler-showcase-viewport {
    bottom: 35%;
}


.ridestyler-showcase-viewport {
    bottom: 32%;
    right: 15%;
    height: 45%;
    margin-bottom: 20px;
    pointer-events: none;
    z-index: $zLayer1;
}