#wb-wrapper {
    padding: 10px;
}

.wb-ctrl-wrap {
    background: #fff;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    opacity: 1;
    overflow: hidden;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.wb-ctrl-wrap a {
    color: #1E90FF;
    text-decoration: none;
    cursor: pointer;
}

.wb-ctrl {
    overflow-y: auto;
    overflow-x: hidden;
}

.wb-ctrl-header {
    padding: 5px;
    background-color: #ddd;
    height: 37px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.wb-ctrl-title {
    color: #000;
    float: left;
    font-size: 25px;
    left: 0;
    line-height: 25px;
    padding: 8px 10px 4px;
    position: absolute;
    text-transform: uppercase;
    width: 280px;
}

.wb-ctrl-actions {
    border-top: 1px solid #ccc;
    padding: 10px;
    top: 280px;
    width: 280px;
}

.wb-ctrl-actions a {
    text-transform: uppercase;
    cursor: pointer;
}

span.wb-color {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid #CCC;
    content: '';
    background-color: #FFF;
    display: inline-block;
}

.wb-layer-select ul, .wb-layer-options ul {
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
}

.wb-layer-options button {
    margin: 0px 0px 10px 10px;
}

.wb-wheel {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.wb-wheel-selected {
    display: block;
}

.wb-wheel-preview {
    clear: both;
}

.wb-wheel-selector-wrap {
    float: left;
}

.wb-wheel-selector {
    margin-top: 0px;
    padding-left: 20px;
    list-style-type: none;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.wb-wheel-selector li {
    margin-bottom: 5px;
}

.wb-wheel-selector li img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.wb-stack-selected {
    border: 1px dotted #1E90FF;
}

.wb-reset-all {
    margin-top: 20px;
}

.wb-clear {
    clear: both;
}

.wb-small .wb-ctrl-wrap {
    width: 200px;
}