#wb-wrapper {
    color: #929292;
    letter-spacing: 3px;
    margin: 0 auto;
    overflow: auto;
    border: 1px solid #CECECE;
    opacity: 0;
}

#wb-wrapper a {
    color: #929292;
}

.wb-top-bar {
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    padding: 20px 0px;
    display: table;
    width: 100%;
    border-bottom: 1px solid #CECECE;
    margin-bottom: 40px;
}

.wb-top-left {
    display: table-cell;
    width: 20%;
    padding-left: 20px;
}

.wb-top-right {
    display: table-cell;
    text-align: right;
    width: 20%;
    padding-right: 20px;
}

.wb-top-center {
    display: table-cell;
    text-align: center;
    overflow: hidden;
}

.wb-top-button {
    width: 125px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #CECECE;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.wb-logo {
    text-transform: uppercase;
}

.wb-main {
    display: block;
    position: relative;
    width: 100%;
}

.wb-main-inner {
    display: table;
    width: 100%;
}

.wb-ctrl-wrap {
    display: table-cell;
    width: 20%;
    background: #fff;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    font-size: 14px;
    margin-right: 20px;
    padding-left: 20px;
    vertical-align: top;
}

.wb-ctrl-wrap a {
    color: #1E90FF;
    text-decoration: none;
    cursor: pointer;
}

.wb-ctrl {
    overflow: auto;
    min-width: 160px;
    margin-top: 20px;
}

.wb-ctrl-header {
    margin-right: 40px;
    color: #4A4A4A;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #CECECE;
}

.wb-ctrl-title {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: middle;
}

.wb-ctrl-actions {
    padding: 10px;
    top: 280px;
}

.wb-ctrl-actions a {
    text-transform: uppercase;
    cursor: pointer;
}

span.wb-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #CCC;
    border-radius: 50%;
    content: '';
    background-color: #FFF;
    display: inline-block;
    vertical-align: middle;
}

.wb-layer-select ul, .wb-layer-options ul {
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
    text-transform: uppercase;
}

.wb-layer-select ul {
    display: none;
}

.wb-layer-options ul li {
    display: inline-block;
    margin: 0px 40px 40px 0px;
}

.wb-layer-options ul li span.wb-color {
    margin: 0;
}

.wb-layer-options ul li span {
    vertical-align: middle;
}

.wb-ctrl li {
    white-space: nowrap;
}

li.wb-ctrl-layer {
    margin-bottom: 40px;
    line-height: 20px;
    vertical-align: middle;
}

li.wb-ctrl-layer:first-child {
    margin-top: 20px;
}

li.wb-ctrl-layer span {
    vertical-align: middle;
}

.wb-js-color {
    display: block;
}

.wb-layer-options input.jscolor {
    width: 1px;
    visibility: hidden;
    display: inline;
}

.wb-wheel {
    margin: auto;
    opacity: 0;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

.wb-wheel canvas {
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

.wb-wheel-selected {
    display: block;
}

.wb-wheel-preview {
    display: table-cell;
    vertical-align: middle;
}

.wb-wheel-preview-inner {
    margin: 0 auto;
    position: relative;
}

.wb-wheel-selector-wrap {
    display: table-cell;
    width: 15%;
    vertical-align: middle;
    padding-right: 20px;
    z-index: 10;
}

.wb-wheel-selector {
    float: right;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.wb-wheel-selector li {
    margin-bottom: 40px;
    padding: 5px;
    border: 1px solid #D3D3D3;
}

.wb-wheel-selector li:last-child {
    margin-bottom: 0px;
}

.wb-wheel-selector li img {
    width: 75px;
    height: auto;
    cursor: pointer;
}

li.wb-stack-selected {
    border: 1px solid #4A4A4A;
}

.wb-button-wrap {
    position: relative;
}

.wb-button-wrap button {
    margin-right: 10px;
}

.wb-back-btn {
    display: none;
    width: 20px;
    cursor: pointer;
    font-size: 20px;
    vertical-align: middle;
}

.wb-layer-options ul li.wb-custom-color-wrap {
    display: block;
}

.wb-layer-options ul li.wb-reset-wrap {
    display: block;
}

.wb-color-custom {
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 57%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(57%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 57%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 57%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 57%, rgba(254,254,254,1) 100%);
    background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 57%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}

.wb-color-reset {
    background-color: #FFFFFF;
}

.wb-clear {
    clear: both;
}

.wb-close-btn {
    display: none;
    vertical-align: middle;
    cursor: pointer;
    float: right;
}

.wb-closed .wb-ctrl {
    display: none;
}

.wb-closed .wb-ctrl-header {
    border: 0;
}


/**** Small ****/


.wb-small .wb-ctrl-wrap {
    width: 200px;
    position: absolute;
    border-top: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    z-index: 100;
    padding-left: 10px;
    margin-right: 10px;
}

.wb-small .wb-ctrl-header {
    margin: 10px 10px 0 0;
    padding-bottom: 10px;
}

.wb-small .wb-ctrl {
    margin-top: 0px;
    font-size: 12px;
}

.wb-small .wb-ctrl-title {
    font-size: 14px;
    text-transform: uppercase;
}

.wb-small .wb-top-bar {
    font-size: 14px;
}

.wb-small .wb-top-button {
    width: 75px;
    padding: 5px 10px;
    font-size: 12px;
}

.wb-small li.wb-ctrl-layer {
    margin-bottom: 20px;
}

.wb-small .wb-layer-options {
    margin-top: 10px;
}

.wb-small .wb-layer-options ul li {
    margin: 0 20px 20px 0;
}

.wb-small .wb-top-bar {
    margin-bottom: 20px;
}

.wb-small .wb-main {
    width: auto;
}

.wb-small .wb-wheel-selector-wrap {
    margin: 20px 0;
    width: auto;
    display: block;
    text-align: center;
    padding-right: 0;
}

.wb-small .wb-wheel-selector {
    padding-left: 0px;
    display: block;
    float: none;
}

.wb-small .wb-wheel-selector li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
}

.wb-small .wb-wheel-selector li:last-child {
    margin-right: 0;
}

.wb-small .wb-wheel-preview {
    display: block;
    width: auto;
}

.wb-small .wb-close-btn {
    display: inline-block;
}

.wb-small .wb-wheel-selector li img {
    width: 65px;
}

/**** Smallest ****/

.wb-smallest .wb-ctrl {
    font-size: 11px;
}

.wb-smallest .wb-ctrl-wrap {
    width: 175px;
    padding-left: 10px;
}

.wb-smallest .wb-top-left {
    padding-left: 10px;
}

.wb-smallest .wb-top-right {
    padding-right: 10px;
}

.wb-smallest .wb-ctrl-title {
    font-size: 14px;
    text-transform: uppercase;
}

.wb-smallest .wb-color {
    height: 15px;
    width: 15px;
}

.wb-smallest li.wb-ctrl-layer {
    margin-bottom: 10px;
}

.wb-smallest .wb-wheel-selector-wrap {
    margin: 10px 0;
}

.wb-smallest .wb-wheel-selector li img {
    width: 50px;
}
