#wb-wrapper {
    padding: 20px;
    color: #929292;
    letter-spacing: 3px;
}

#wb-wrapper a {
    color: #929292;
}

.wb-top-bar {
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    border-bottom: 1px solid #CECECE;
    margin-bottom: 40px;
    padding-bottom: 20px;
    display: table;
    width: 100%;
}

.wb-top-left {
    display: table-cell;
    width: 20%;
}

.wb-top-right {
    display: table-cell;
    text-align: right;
    width: 20%;
}

.wb-top-center {
    display: table-cell;
    text-align: center;
    overflow: hidden;
}

.wb-top-button {
    width: 125px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #CECECE;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.wb-logo {
    text-transform: uppercase;
}

.wb-main {
    display: table;
    width: 100%;
}

.wb-ctrl-wrap {
    display: table-cell;
    width: 20%;
    background: #fff;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    font-size: 14px;
    margin-right: 20px;
    vertical-align: top;
}

.wb-ctrl-wrap a {
    color: #1E90FF;
    text-decoration: none;
    cursor: pointer;
}

.wb-ctrl {
    overflow: auto;
    min-height: 400px;
    min-width: 220px;
    margin-top: 20px;
}

.wb-ctrl-header {
    margin-right: 40px;
    color: #4A4A4A;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #CECECE;
}

.wb-ctrl-title {
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    vertical-align: middle;
}

.wb-ctrl-actions {
    padding: 10px;
    top: 280px;
}

.wb-ctrl-actions a {
    text-transform: uppercase;
    cursor: pointer;
}

span.wb-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #CCC;
    border-radius: 50%;
    content: '';
    background-color: #FFF;
    display: inline-block;
    vertical-align: middle;
}

.wb-layer-select ul, .wb-layer-options ul {
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    -webkit-transition: opacity .25s linear;
    transition: opacity .25s linear;
    text-transform: uppercase;
}

.wb-layer-select ul {
    display: none;
}

.wb-layer-options ul li {
    display: inline-block;
    margin: 0px 40px 40px 0px;
}

.wb-layer-options ul li span.wb-color {
    margin: 0;
}

.wb-layer-options ul li span {
    vertical-align: middle;
}

li.wb-ctrl-layer {
    margin-bottom: 40px;
    line-height: 20px;
    vertical-align: middle;
}

li.wb-ctrl-layer:first-child {
    margin-top: 20px;
}

li.wb-ctrl-layer span {
    vertical-align: middle;
}

.wb-js-color {
    display: block;
}

.wb-layer-options input.jscolor {
    width: 1px;
    visibility: hidden;
}

.wb-wheel {
    margin: auto;
    opacity: 0;
    -webkit-transition: opacity .25s linear;
    transition: opacity .25s linear;
}

.wb-wheel-selected {
    display: block;
}

.wb-wheel-preview {
    display: table-cell;
}

.wb-wheel-preview-inner {
    margin: 0 auto;
}

.wb-wheel-selector-wrap {
    display: table-cell;
    width: 15%;
    vertical-align: middle;
}

.wb-wheel-selector {
    float: right;
    margin: 0;
    list-style-type: none;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.wb-wheel-selector li {
    margin-bottom: 40px;
    width: 75px;
    padding: 5px;
    border: 1px solid #D3D3D3;
}

.wb-wheel-selector li:last-child {
    margin-bottom: 0px;
}

.wb-wheel-selector li img {
    width: 75px;
    height: auto;
    cursor: pointer;
}

li.wb-stack-selected {
    border: 1px solid #4A4A4A;
}

.wb-button-wrap {
    position: relative;
}

.wb-button-wrap button {
    margin-right: 10px;
}

.wb-back-btn {
    display: none;
    width: 20px;
    cursor: pointer;
    font-size: 20px;
    vertical-align: middle;
}

.wb-clear {
    clear: both;
}

.wb-small .wb-ctrl-wrap {
    width: 200px;
}

.wb-small .wb-ctrl-title {
    font-size: 18px;
    text-transform: uppercase;
}