.ridestyler-showcase {
		&-table {
    		tbody {
        		height: 45vh;
        		text-align: center;
    		}
		}
		&-product-modal {
				&-image {
					width: 40%;
					align-items: center;
					margin-left: 10%;
				}
		}
}

.dot-info {
	margin-top: 0;
}


@media only screen and (min-width: 1000px) {
    .ridestyler-showcase {
        &-product-modal {
            &-page {
                height: 100vh;
                tbody {
                    height: 80vh;
                    overflow: scroll;
                }
            }
            &-summary {
                max-height: 32vh;
                overflow: hidden; 
            }
        }
    }
}



@media only screen and (min-width: 1000px) and (max-height: 2000px) {
    .ridestyler-showcase {
        &-product-modal {
            &-page {
                margin-top: -.5em;
                height: 60vh;
                    // padding-bottom: 10em;
                tbody {
                    // background: blue;
                    height: 54vh;
                    overflow: scroll;
                }
            }
            &-summary {
                max-height: 40vh;
                overflow: hidden; 
            }
        }
    }
}
