$tabBarWidth: 150px;

.ridestyler-showcase-vertical-tab-bar {
    width: $tabBarWidth;
    font-size: 0.9em;

    &-tab-icon {
        font-size: 1.9em;
    }
}

.ridestyler-showcase-customizations {
    height: 28%;
}

.ridestyler-showcase-customizations, .ridestyler-showcase-viewport, .ridestyler-showcase-rotate-vehicle {
    margin-left: $tabBarWidth;
}

.ridestyler-showcase-rotate-vehicle {
    bottom: 22%;
}

.ridestyler-showcase-pagination-option {
    font-size: 0.75em;
    margin-bottom: 2.5em;

    $displaySize: 110px;
    
    &-display {
        width: $displaySize;
        height: $displaySize;
    }

    &-loader {
        min-width: $displaySize;
        height: $displaySize;
    }
}

.ridestyler-showcase-pagination-option-display.ridestyler-showcase-paint-swatch {
    $size: 100px;

    width: $size;
    height: $size;

    border-radius: $size/2;
}

.ridestyler-showcase-suspension-selector-element {
    .noUi-value {
        margin-top: 5px;
    }
}
