.ridestyler-showcase-table {
    tbody {
        height: 475px;
        text-align: center;
    }
}

@media only screen and (max-width: 3000px) and (min-width: 100px) {
    .ridestyler-showcase {
        &-product-modal {
            &-page {
                margin-top: -.5em;
                height: 80%;
                tbody {
                    height: 65%;
                    overflow: scroll;
                }
            }
            &-summary {
                max-height: 32%;
                overflow: hidden; 
            }
        }
    }
}
