
@import "../../shared";

.ridestyler-showcase {
    &-tab-bar-tab {
        &:after {
            font-size: 1em;
            bottom: .5em;    
        }
    }
    &-icon-paint {
    	font-size: 1.9em;
    }

}

@media only screen and (max-height: 815px) {
	.ridestyler-showcase-tab-bar-tab {
		font-size: .7em;
	}

	.ridestyler-showcase-customization-component-title {
		font-size: 1.2em;
	}
}
