@import "../responsive-mixins";

@include responsiveTabBar($tabBarWidth: 130px);


.ridestyler-showcase-pagination-option {
    font-size: 0.75em;
    margin-bottom: 3.5em;

    $displaySize: 100px;

    &-display {
        width: $displaySize;
        height: $displaySize;
    }

    &-loader {
        min-width: $displaySize;
        height: $displaySize;
    }
}

.ridestyler-showcase-pagination-option-display.ridestyler-showcase-paint-swatch {
    $size: 75px;

    width: $size;
    height: $size;

    border-radius: $size/2;
}

.ridestyler-showcase-suspension-selector-element {
    .noUi-value {
        margin-top: 1em;
    }
}