@import "shared";
@import "_sprites";

@mixin button {
    background-color: $primary-color;
    color: $primary-color-overlaid-text;
    border-color: $primary-color;
 
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
 
    font-size: 1em;

    transition-property: color, background-color, border-color;
    transition-duration: 500ms;

    cursor: pointer;

    &:disabled {
        background-color: lighten($primary-color, 20%);
        color: darken($primary-color-overlaid-text, 20%);
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
        border-color: #aaa;
    }
    
    &:active {
        box-shadow: inset 0 0 10px 0 darken($primary-color, 20%);
    }
}

@mixin button-large {
    font-size: 1.5em;
    border-radius: 10px;
}

@mixin button-skinny {
    padding: 10px;
}

@mixin button-link {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    
    color: $primary-color;

    &:disabled {
        color: lighten($primary-color, 20%);
    }

    &:active {
        text-decoration: underline;
    }

    &:after {
        font-size: .9em;
        padding-left: .33em;
        @include ridestyler-showcase-icon-styles;
        content: ' ' + ridestyler-showcase-icon-char('chevron-right');
    }
}