@import "shared";
@import "_sprites";

@mixin button {
    $background-color: #f0f0f0;

    background-color: $background-color;
 
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #aaa;
 
    font-size: 1em;

    padding: 1em 1.5em;

    transition-property: color, background-color, border-color;
    transition-duration: 500ms;

    &:disabled {
        background-color: darken($background-color, 10%);
        border-color: $background-color;
        color: $background-color;
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
        border-color: #444;
    }
    
    &:active {
        box-shadow: inset 0 0 10px 0 darken($background-color, 20%);
    }
}
@mixin button-large {
    font-size: 1.5em;
    border-radius: 10px;
}
@mixin button-primary {
    background-color: $primary-color;
    color: $primary-color-overlaid-text;
    border-color: $primary-color;

    &:disabled {
        background-color: lighten($primary-color, 20%);
        color: #ddd;
    }
    
    &:active {
        box-shadow: inset 0 0 10px 0 darken($primary-color, 20%);
    }

    &:focus {
        border-color: #aaa;
    }
}

@mixin button-link {
    background: none;
    border: none;
    padding: 0;
    
    color: $primary-color;

    &:disabled {
        color: lighten($primary-color, 20%);
    }

    &:active {
        text-decoration: underline;
    }

    &:after {
        @include ridestyler-showcase-icon-styles;
        content: ' ' + ridestyler-showcase-icon-char('chevron-right');
    }
}