.ridestyler-showcase-background {
    position: absolute; bottom: 0; left: 0; right: 0;
    height: 50%;

    background-color: black;
    background-image: linear-gradient(0deg,rgba(0,0,0,0),rgba(150,150,150,0.5));

    transition: bottom 500ms;

    .ridestyler-showcase-state-choosevehicle & {
        bottom: -30%;
    }
}

.ridestyler-showcase-background-texture {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    background-image: url('images/texture.png');
    opacity: 0.8;
}