@import "https://static.ridestyler.com/rs-ui/latest/rsui.min.css";

#ridestyler-quick-select {
  width: 350px;
  padding: 1.7em;
  box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.3);
  #config-message {
    text-align: left;
    font-size: 1.375rem;
    font-weight: bold;
  }
  .config-select {
    text-align: left;
    position: relative;
    display: block;
  }
  select {
    display: block;
    height: 30px;
    width: 100%;
    margin: 0px 0;
    z-index: 1;
  }
  .select-loader.active-loader {
    display: inline-block;
    background-image: url("https://static.ridestyler.com/images/loaders/loader_radial_chaser_back_on_white_32.gif");
    position: absolute;
    width: 20px;
    height: 20px;
    background-position: top left;
    background-size: 100%;
    right: 0;
    bottom: 6px;
  }
  label {
    display: inline-block;
    position: relative;
    top: 8px;
    left: 6px;
    font-size: 0.8em;
    z-index: 1;
  }
  label::after {
    height: 12px;
    display: block;
    background: #fff;
    content: "";
    position: absolute;
    top: 9px;
    width: 100%;
    z-index: -1;
  }
  button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    cursor: pointer;
  }
  button {
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: 0;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1.625rem;
    min-height: 3.2rem;
    outline: 0;
    padding: .7875rem .8rem;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
    transition: background .2s,border .2s,box-shadow .2s,color .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    background: #21b8f7;
    font-size: 1em;
  }
}
