.ridestyler-showcase-pagination {
    &-option {
        max-width: 50%;
        
        &-label-secondary {
            font-weight: normal;
        }

        &-label-tertiary {
            font-weight: normal;
        }
    }        
}