.ridestyler-showcase-pagination {
	margin-top: 4em;
	height: 75%;

    &-option {        
        &-label-secondary {
            font-weight: normal;
        }

        &-label-tertiary {
            font-weight: normal;
        }

        &:only-child {
            margin-left: 30%;
            max-width: 50%;
            max-height: 50%;
        }

        &-loader {
            left: 3em;
            margin-bottom: 20%;
            min-width: 50px;
            height: 50px;
        }
    }
}