@import "../../modals";

.ridestyler-showcase-product-modal {
    &-page {
        top: $modalPaddingTop + 6em;
    }

    &-image {
        left: 0;
        width: 100%;
        top: 0;
        bottom: 55%;
    }

    &-summary {
        left: 0;
        width: 100%;
        top: 50%;
        bottom: 0;
        overflow-y: auto;
    }
}