.ridestyler-showcase-share {
    .ridestyler-showcase-share-buttons {
        display: flex;
        justify-content: center;
    }

    .ridestyler-showcase-share-button {
        font-size: 1.7em;
        margin: .5em;

        &-qr-code {
            .ridestyler-showcase-popover {
                top: auto;
                margin-top: 50px;

                &:before, &:after {
                    display: none;
                }
            }
        }
    }
}