.ridestyler-showcase {
    &-table {
    	tbody {
        text-align: center;
    	}
    }
}

// iPhone 5 Summary and Specifications moved from blocking title
@media only screen and (max-width: 360px) {
    .ridestyler-showcase {
        &-toggle-button {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: .95em;
            right: 0;
            margin-top: .25em;

            &-option {
                padding: 5.5px 18px;
                
                &:last-child {
                    border-top-right-radius: 0;
                    border-top-left-radius: 5px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
}


// iPhone 6 Summary and Specifications moved from blocking title
@media only screen and (max-width: 375px) and (min-width: 261px) {
    .ridestyler-showcase {
        &-toggle-button {
            font-size: .98em;
        }
    }
}
