.ridestyler-showcase {
    &-table {
    	tbody {
        text-align: center;
    	}
    }
}

// iPhone 5 Summary and Specifications moved from blocking title
@media only screen and (max-width: 360px) {
    .ridestyler-showcase {
        &-toggle-button {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: .95em;
            right: 0;

            &-option {
                padding: 7px 18px;
                
                &:last-child {
                    border-top-right-radius: 0;
                    border-top-left-radius: 5px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
}

// Prevents overflow on fixed header - Android
@media only screen and (max-width: 414px) and (min-width: 411px) {
    .ridestyler-showcase {
        &-product-modal {
            &-page {
                height: 82vh;
                tbody {
                    height: 77vh;
                    overflow: scroll;
                }
            }
            &-summary {
                max-height: 32vh;
                overflow: hidden; 
            }
        }
    }
}

// Prevents overflow on fixed header - Android
@media only screen and (max-height: 640px) and (min-height: 630px) {
    .ridestyler-showcase {
        &-product-modal {
            &-page {
                height: 82vh;
                tbody {
                    height: 85vh;
                    overflow: scroll;
                }
            }
        }
    }
}


// iPhone X / iPhone 6++ / Android Screen height fix for Spec. table to fit to screen
@media screen and ( max-height: 824px) and (min-height: 736px) {
    .ridestyler-showcase {
        &-product-modal {
            &-page {
                height: 85vh;
                tbody {
                    height: 80vh;
                    overflow: scroll;
                }
            }
            &-summary {
                max-height: 32vh;
                overflow: hidden; 
            }
        }
    }
}


//iPhone X Spec. Page Height Adjustments
@media screen and ( max-height: 813px) and (min-height: 811px) {
    .ridestyler-showcase {
        &-product-modal {
            &-page {
                tbody {
                    min-height: 80vh;
                    overflow: scroll;
                }
            }
            &-summary {
                max-height: 32vh;
                overflow: hidden; 
            }
        }
    }
}

// Prevents overflow on fixed header - iPhone 6+
@media only screen and (max-width: 376px) {
    .ridestyler-showcase {
        &-product-modal {
            &-page {
                min-height: 80vh; 
                tbody {
                    height: 75vh;
                    overflow: scroll;
                }
            }
            &-summary {
                tbody {
                    max-height: 32vh;
                    overflow: scroll;
                }
            }
        }
    }
}



// Prevents overflow on fixed header - iPhone 5
@media only screen and (max-width: 321px) {
    .ridestyler-showcase {
        &-product-modal {
            &-page {
                min-height: 60vh;
                tbody {
                    min-height: 50vh;
                    overflow: scroll;
                }
            }
            &-summary {
                tbody {
                    max-height: 32vh;
                    overflow: scroll;
                }
            }
        }
    }
}
