$border-radius: 5px;

.ridestyler-showcase {
    &-table {
    	tbody {
        height: 55vh;
        text-align: center;
    	}
    }
}

// iPhone 5 Summary and Specifications moved from blocking title
@media only screen and (max-width: 360px) {
    .ridestyler-showcase {
        tbody {
            max-height: 1vh;
        }

        display: flex;

        &-toggle-button {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: .95em;
            right: 0;


            &-option {
                padding: 7px 20px;
            &:last-child {
                border-top-right-radius: 0;
                border-top-left-radius: 5px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 5px;
            }
            }
        }
    }
}

// iPhone X / iPhone 6++ / Android Screen height fix for Spec. table to fit to screen
@media screen and ( max-height: 812px) and (min-height: 810px) {
    .ridestyler-showcase-table {
        tbody {
            height: 75vh;
        }
    }
}


@media screen and ( max-height: 731px) and (min-height: 666px) {
    .ridestyler-showcase-table {
        tbody {
            height: 68vh;
        }
    }
}