
@import "../../shared";

.ridestyler-showcase-tab-bar {
    font-size: 1em;
    flex-direction: row;
    margin-bottom: -.3em;

    &-tab {                
        
        &-icon{
            margin-top: .8em;
            position: relative;
        
            i:before {
                display: block;
            }
        }

        &:after {
            bottom: 0;
            margin-top: .25em;  
        }
    }
}