@import "../responsive-mixins";
@import "../../shared";

// Adjust tab bar font size
.ridestyler-showcase-tab-bar {
    font-size: 1.2em;

    &-tab-icon {
        font-size: 1.6em;
    }
}

// We no longer need to account for the tab bar on the left
.ridestyler-showcase-customizations, .ridestyler-showcase-viewport, .ridestyler-showcase-rotate-vehicle {
    margin-left: 0;
}

.ridestyler-showcase-customizations {
    bottom: 60px;
}

.ridestyler-showcase-viewport {
    left: 5%;
    right: 5%;
    margin-bottom: 10px;
    pointer-events: none;
    z-index: $zLayer3;
    bottom: 40%;
}

.ridestyler-showcase-suspension-selector-element {
    bottom: 10%;
}

.ridestyler-showcase-details {
    float: none;
    max-width: 50%;
    padding: 5px 10px;

    &-title {
        margin-bottom: 2px;
    }

    button {
        margin-top: 2px;
    }

    &:before {
        display: none;
    }
}

.ridestyler-showcase-change-wheel-size, .ridestyler-showcase-customization-component-title-container {
    margin-bottom: 10px;
    bottom: auto;
    top: 20%;
}

.ridestyler-showcase-rotate-vehicle {
    height: 30%;
}

.ridestyler-showcase-suspension-selector-element {
    .noUi-horizontal {
        .noUi-handle {
            top: -0.2em;
        }    
    }
    .noUi-marker-horizontal.noUi-marker {
        width: 1px;
    }

    .noUi-pips-horizontal {
        padding-top: 5px;
    }
}

.ridestyler-showcase-button-picker {
    width: 8em;
    transition:all .25s ease-out;

    &-title {    
        padding: .5em;
    }

    &-option-container:last-child {
        border-bottom-left-radius: .2em;
    }
}

.ridestyler-showcase-change-wheel-size {
    right: 0;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: auto;
    margin-bottom: 1.1em;
}

.ridestyler-showcase-customization-component {

    &-title-container {
        z-index: $zLayer3 + 1;
    } 

    &-title + .ridestyler-showcase-button {
        left: 0;
        margin-left: -1.25em;
        border-top-right-radius: .5em;
        border-bottom-right-radius: .5em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.ridestyler-showcase-vehicle-details-vehicle-details {
    width: auto;
}

.ridestyler-showcase-pagination-option {
    min-width: 12em;
}

.ridestyler-showcase-pagination-option-display {
    $size: 75px;

    width: $size;
    height: $size;

    border-radius: $size/2;
}