.ridestyler-showcase-pagination {
	height: 75%;
	margin-top: 3em;

	  &-option {
			&-loader {       
		    left: 5em;
		    margin-bottom: 10%;
		    min-width: 50px;
		    max-height: 50px;
	    }

	  	&:only-child {
	  		margin-bottom: 7%;
	  		margin-left: 37%;
	  	}
		}
}
