.ridestyler-showcase {
		&-table {
    		tbody {
        		height: 450px;
        		text-align: center;
    		}
		}
}


// Prevents overflow on fixed header - iPad Pro
@media only screen and (max-width: 1200px) and (min-width: 768px) {
    .ridestyler-showcase {
        &-product-modal {
            &-page {
                height: 71%;
                tbody {
                    height: 62%;
                    overflow: scroll;
                }
            }
            &-summary {
                max-height: 32%;
                overflow: hidden; 
            }
        }
    }
}
