@import "../../shared";

.ridestyler-showcase-tab-bar {
    font-size: 1em;
    display: flex column;
    content-align: center;
    align-items: center;
    justify-content: center;

    &-tab {
        display: flex;
        content-align: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        width: 100%;
        $baseFontSize: 2em;


    
        &-icon{
            bottom: 1em;
            // background-color: yellow;
            position: absolute;
            display: table;
            z-index: $zLayer2;

            i:before {
                display: block;
                color: white;
            }
        }

        .ridestyler-showcase-icon {
            display: table-cell;
            vertical-align: middle;
            
            font-size: $baseFontSize - .5;
    
            &-paint { font-size: $baseFontSize / 1.5; }
            &-suspension { font-size: $baseFontSize * .9; }
        }
    
        &-background {
            position: absolute;
            top: 0; bottom: 0; right: 0; left: 0;
            z-index: $zLayer1;
    
            svg {
                position: absolute;
                top: 0; bottom: 0; right: 0; left: 0;
                background-color: black;
            }
            
            &-nosvg {
                background-color: black;
            }
        }
    
        &-active {
            .ridestyler-showcase-tab-bar-tab-background {
                svg {
                    background-color: transparent;
                }
    
                &-nosvg {
                    &:after {
                        content: '';
                        border-style: solid;
                        border-width: 20px 20px 20px 0;
                        border-color: transparent #aaa transparent transparent;
                        
                        position: absolute;
                        top: 50%;
                        right: 0;
                        margin-top: -20px;
                    }
                }
            }
        }
        
        &:after {
            font-size: $baseFontSize - 1.2;
            // background-color: blue;
            content: attr(title);
            position: absolute;
            width: 100%; height: 25%;
            bottom: .25em;
            text-align: center;
            color: #ddd;
            z-index: $zLayer2;
        }
    }

    &-horizontal {
        .ridestyler-showcase-tab-bar-tab {
            display: inline-block;
        }
    }
}