@import "../shared";
@import "../modals";

.ridestyler-showcase-table {
    border: 0;
    border-collapse: collapse;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;

    font-size: 1em;
    
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none;  
    overflow: hidden;

    width: 100%;

    th {
        font-weight: normal;
        padding: 10px 5px;
        text-align: center;
    }
    
    td {
        text-align: center;
        padding: 10px 5px;
        word-wrap: break-word;
    }

    tr {
        text-align: center;
        align-items: center;
    }

    tr:nth-child(even) {
        background-color: #eee;
    }

    &-head {
        background-color: $primary-color;
        color: white;
    }

    &-body {
        background-color: #fbfbfb;

        &-loading {
            display: table-row;
            height: 100px;

            &:before {
                content: '';
                height: 100px;
                position: absolute;
                right: 2px;
                left: 2px;

                background-color: #aaa;
            }

            &:after {
                content: '';
                position: absolute;
                
                top: 50%;
                left: 50%;
                margin-left: -10px;

                width: 20px;
                height: 20px;
                background-image: url('images/tire-loading.png');
                background-size: 100%;

                @include crispImageRendering;
                @include rotate;
            }
        }
    }
}
