@import "../buttons";

.ridestyler-showcase-button-picker {
    @include button;
    @include button-skinny;

    padding: 0;
    text-align: center;

    &-option, &-title {
        padding: 10px;
    }

    &-title {
        font-size: 1em;
    }

    &-option {
        &-active {
            background-color: #999;

            &:last-child {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}