@import "../shared";

.ridestyler-showcase-change-wheel-size {
    position: absolute;
    right: $screen-padding;
    bottom: 50%;
    transition:height .3s ease-out;
    margin-bottom: $screen-padding;
    z-index: $zLayer3 + 1;
}
