@import "../shared";

.ridestyler-showcase-vertical-tab-bar {
    height: 50%; width: 60px;
    position: absolute;
    left: 0; bottom: 0;
}

.ridestyler-showcase-vertical-tab-bar-tab {
    cursor: pointer;
    position: relative;
    width: 100%;

    $baseFontSize: 2em;

    .ridestyler-showcase-vertical-tab-bar-tab-icon{
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        text-align: center;
        display: table;
        z-index: $zLayer2;
    }
    .ridestyler-showcase-icon {
        color: white;

        display: table-cell;
        vertical-align: middle;
        
        font-size: $baseFontSize;

        &-paint { font-size: $baseFontSize / 1.2; }
        &-suspension { font-size: $baseFontSize * 1.2; }
    }

    &-background {
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
        z-index: $zLayer1;

        svg {
            background-color: black;
        }
        
        &-nosvg {
            background-color: black;
        }
    }

    &-active {
        .ridestyler-showcase-vertical-tab-bar-tab-background {
            svg {
                background-color: transparent;
            }

            &-nosvg {
                &:after {
                    content: '';
                    border-style: solid;
                    border-width: 20px 20px 20px 0;
                    border-color: transparent #aaa transparent transparent;
                    
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -20px;
                }
            }
        }
    }
    
    &:after {
        content: attr(title);
        position: absolute;
        left: 0; right: 0; bottom: 2px;
        text-align: center;
        color: #ddd;
        z-index: $zLayer2;
    }
}