@import "../_shared";

.ridestyler-showcase-viewport {
    position: absolute;
    top: 20%;
    left: 18%;
    bottom: 30%;
    right: 18%;

    margin-left: 50px /* The width of the tab bar to center this in the remaining space */;

    img {
        @include crispImageRendering;
    }
}

.ridestyler-showcase-customizations {
    position: absolute;
    bottom: 1%;
    left: 10%;
    right: 10%;
    margin-left: 50px;
    height: 30%;
    z-index: $zLayer1;
}

.ridestyler-showcase-customization-component {
    width: 100%;
    height: 100%;

    display: none;

    &.in {
        display: block;
    }
}

.ridestyler-showcase-rotate-vehicle {
    background-image: url(assetURL('images/rotate-vehicle.svg'));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 10%;
    bottom: 15%;
    right: 10%;
    margin-left: 50px;
    height: 320px;
    opacity: 0.5;

    @include fadeIn(0.5);
}

.ridestyler-showcase-details {
    width: 20%;
    padding: 10px 20px;
    position: relative;
    float: left;
    z-index: $zLayer3;
    background-color: rgba(255,255,255,0.9);
    
    &-title {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    &-secondary {
        color: #aaa;
        font-size: 0.9em;
    }

    button {
        margin-top: 10px;
    }

    + .ridestyler-showcase-details:before {
        content: '';
        position: absolute;

        $height: 90%;

        top: 50%-($height/2); 
        left: 0;
        height: $height;
        width: 1px;

        background-color: #aaa;
    }
}

.ridestyler-showcase-customization-component-title {
    font-size: 1.6em;
    font-weight: bold;

    & + .ridestyler-showcase-button {
        margin-top: 10px;
    }
    
    &-container {
        position: absolute;
        bottom: 50%;
        left: 30px;
        margin-bottom: 15px;
    }
}

.ridestyler-share-my-vehicle-button {
    position: absolute;
    top: 20px; right: 20px;
}