@import "../shared";

.ridestyler-showcase-share {
    padding-top: 1em;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        margin-bottom: 0;
    }
    
    p {
        margin-top: 0;
    }

    &-buttons {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 10%;
        margin-top: 1em;
    }

    &-button {
        width: 15%;
        margin-right: 1.5em;
        padding: 0.7em 1em;
    }

    .ridestyler-showcase-background {
        height: 35%;
    }

    .ridestyler-showcase-viewport, .ridestyler-showcase-rotate-vehicle {
        margin-left: 0;
    }
    
    .ridestyler-showcase & .ridestyler-showcase-rotate-vehicle {
        bottom: 2%;
    }
    
    .ridestyler-showcase-viewport {
        bottom: 6%;
    }

    img {
        margin-left: -4em;
    }
}

.ridestyler-showcase-modal-full {
    height: 50%;
    top: 20%;
}