
@import "../../../../vehicle-selection-modal/scss/rsvsm";
@import "../shared";
@import "../buttons";
@import "../modals";

.ridestyler-showcase-vehicle-selection {
    text-align : center;

}

#ridestyler-showcase-select-your-vehicle {
    padding: 1em 1.5em;

    &-wrapper {
        position: absolute;
        top: 50%;

        margin-top: -30px;

        text-align: center;

        left: 0; 
        right: 0;
    }
}

.ridestyler-showcase-vehicle-selection-content {
    top: 10%;
    bottom: 20%;

    opacity: 0;

    transition-property: opacity, transform;
    transition-duration: 2s;
    transform: translate3d(0px,10px,0px);

    .in & {
        opacity: 1;
        transform: translate3d(0px,0px,0px);
    }
}

.ridestyler-showcase-vehicle-selection-wheel-showcase {
    position: absolute;
    bottom: 20%;
    left: -30%;

    height: 100px;
    width: 270px;
    margin-bottom: -40px;
    margin-left: -135px;

    opacity: 0;
    white-space: nowrap;

    transition-property: opacity, left;
    transition-duration: 1000ms;

    .in & {
        left: 50%;
    }
}

.ridestyler-showcase-vehicle-selection-wheel-showcase-image {
    height: 100px;
    width: 100px;

    & + .ridestyler-showcase-vehicle-selection-wheel-showcase-image {
        margin-left: -15px;
    }
}

#vsm-backdrop {
    @include modalBackdrop;
}

.vsm-modal {
    @include baseFont;
    margin-top: 1em;

    img {
        max-height: 44vmin;
    }

    .dot-info, .dot-info.active {
        overflow: hidden;
        margin-top: .25em;
        font-size: 1em;
        color: #000;
    }

    &-body {
        .center-piece {
            max-width: 90%;
        }
            padding-top: 1em;
    }

    span, p {
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

.vsm-btn {
    @include button;
}

.vsm-header {
    font-size: 1.5em;
}

.vsm-column-2 {
    margin-top: -1em;
    margin-bottom: .5em;

    & + .no-style {
        margin-top: .25em;
        margin-bottom: -.25em; 
    }
    &.vsm-before {
        margin-bottom: -.25em;
        margin-top: .25em;
        
    }
}

.vsm-single-step {
    .vsm-before {
        margin: -1em 0 0 0;
    }
}

div.vsm-group-wrap.center-piece {
    margin-top: 1.25em;
}

body {
    ::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    overflow: hidden;
}

.vsm-back-arrow {
    positon: absolute;
}

.vsm-one-container > a:first-child {
    margin-top: 0;
}