.ridestyler-showcase-table-modal {
    &-table {
        width: 100%;

        th {
            text-align: center;
        }
        td {
            text-align: center;
            padding: 10px 5px;
        }
    }
}