@import "../../../node_modules/nouislider/distribute/nouislider";

.ridestyler-showcase-suspension-selector-element {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    padding: 30px;
    margin-top: 30px;

    + .ridestyler-showcase-suspension-selector-element {
        left: 50%;
        right: 0;
    }

    &-label {
        color: white;
        margin-bottom: 10px;
    }
}

.noUi-target {
    background: #777;
    border: none;
    box-shadow: none;
}

.noUi-value {
    margin-top: 3px;
    margin-left: 5px;
    font-size: 1em;

    &-sub {
        font-size: 0.75em;
    }
}

.noUi-horizontal {
    height: 10px;

    .noUi-handle {
        $size: 1.5em;
        left: -$size/2;
        top: -$size/2.5;
        width: $size;
        height: $size;
        border-radius: $size;
    }
}

.noUi-handle {
    background: #fff;
    border-radius: 10px;
    box-shadow: none;
    border: none;

    &:before, &:after {
        display: none;
    }
}