@import "../modals";

.ridestyler-showcase-modal {
    @include modal;

    &-full {
        left: 5% !important;
        right: 5% !important;
        margin: 0 !important;
        width: auto !important;
    }

    .ridestyler-showcase & {
        .ridestyler-showcase-background {
            height: 40%;
        }

        .ridestyler-showcase-viewport, .ridestyler-showcase-rotate-vehicle {
            margin-left: 0;
        }
        .ridestyler-showcase-rotate-vehicle {
            bottom: 5%;

            &.in {
                opacity: 1;
            }
        }
        .ridestyler-showcase-viewport {
            bottom: 15%;
            top: 25%;
        }
    }

    & &-close { @include modalClose; }
    &-backdrop { @include modalBackdrop; }
    &-actions {
        position: absolute;

        bottom: $modalPadding;
        left: $modalPadding;
        right: $modalPadding;

        text-align: right;
    }
}

// Modal transitions
.ridestyler-showcase-modal, .ridestyler-showcase-modal-backdrop {
    transition: opacity 0.3s linear;
    opacity: 0;
}