@import "../../../../vehicle-selection-modal/scss/rsvsm";
@import "../shared";
@import "../buttons";
@import "../modals";

.ridestyler-showcase-vehicle-selection {
    text-align: center;
}

#ridestyler-showcase-select-your-vehicle {
    &-wrapper {
        position: absolute; 
        top: 50%;
        margin-top: -30px;
        text-align: center;
        left: 0; right: 0;
    }
}

.ridestyler-showcase-vehicle-selection-content {
    opacity: 0;
    transform: translate3d(0px,10px,0px);

    transition-duration: 1s;
    transition-property: opacity, transform;

    top: 10%;
    bottom: 20%;

    .in & {
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
}

.ridestyler-showcase-vehicle-selection-wheel-showcase {
    opacity: 0;
    transition-property: opacity, left;
    transition-duration: 1000ms;

    position: absolute;
    bottom: 20%;
    left: -30%;

    width: 270px;
    height: 100px;
    margin-left: -135px;
    margin-bottom: -40px;

    white-space: nowrap;

    .in & {
        left: 50%;
    }
}

.ridestyler-showcase-vehicle-selection-wheel-showcase-image {
    width: 100px;
    height: 100px;
    
    & + .ridestyler-showcase-vehicle-selection-wheel-showcase-image {
        margin-left: -15px;
    }
}
 
#vsm-backdrop {
    @include modalBackdrop;
}

.vsm-modal {
    @include baseFont;

    .dot-info, .dot-info.active {
        font-size: 1em;
        overflow: hidden;
    }

    &-body {
        .center-piece {
            max-width: 90%;
        }
    }
}

.vsm-btn {
    @include button;
}

.vsm-header {
    font-size: 1.5em;
}