@import "../shared";
@import "../modals";

.ridestyler-showcase-table {
    overflow: hidden;
    flex-direction: column;
    font-size: 1em;
    width: 100%;
    border: 0;
    border-collapse: collapse;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;

    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox

    ::-webkit-scrollbar { 
        display: none;  // Safari and Chrome
    }

    table {
        table-layout:fixed;
        text-align: center;
        word-break: break-all;
    }

    th {
        text-align: center;
        font-weight: normal;
        padding: 10px 5px;
        min-width: 1%;
        flex: 1 auto;
    }
    
    td {
        flex: 1 auto;
        text-align: center;
        padding: 10px 5px;
        width: 1%;
        word-wrap: break-word;
    }

    tr {
        text-align: center;
        align-items: center;
    }

    tr:nth-child(even) {
        background-color: #eee;
    }

    thead th:after {
      content: '';
      overflow-y: scroll;
      visibility: hidden;
      height: 10px;
    }

    
    thead th {
        display: inline-block;
        flex: 1 auto;
        text-align: center;
        align-items: center;
    }
    
    thead tr {
        display: flex;
    }

    tbody {
        position: absolute;
        display: block;
        width: 100%;
        overflow-y: scroll;
        height: 250px;
    }

    thead {

    }

    &-head {
        background-color: $primary-color;
        color: white;
    }

    &-body {
        background-color: #fbfbfb;

        &-loading {
            display: table-row;
            height: 100px;

            &:before {
                content: '';
                height: 100px;
                position: absolute;
                right: 2px;
                left: 2px;

                background-color: #aaa;
            }

            &:after {
                content: '';
                position: absolute;
                
                top: 50%;
                left: 50%;
                margin-left: -10px;

                width: 20px;
                height: 20px;
                background-image: url('images/tire-loading.png');
                background-size: 100%;

                @include crispImageRendering;
                @include rotate;
            }
        }
    }
}

 .ridestyler-showcase-product-modal-page {
        bottom: 0em;
        height: 75vh;
        margin-top: .75em;
    }