@import "../shared";
@import "../modals";

.ridestyler-showcase-product-modal {
    $titleBottom: $modalPaddingTop + 5.5em;

    &-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &-brand {
            display: block;
            font-size: 0.8em;
            color: $secondary-text-color;
        }

        &-subtitle {
            display: block;
            font-size: 0.5em;
        }
    }

    &-page {
        position: absolute !important;
        left: $modalPadding;
        right: $modalPadding;
        top: $titleBottom + 1em;
        bottom: $modalPadding;
        overflow: hidden;
    }

    &-summary {
        position: absolute;
        right: 0;
        width: 40%;
        top: 0;
        bottom: 0;
        overflow-y: auto;
    }

    &-image {
        position: absolute;
        left: 0;
        width: 50%;
        top: 0;
        bottom: 0;

        img {
            max-width: 100%;
            position: absolute;

            @include crispImageRendering;
        }
    }

    .ridestyler-showcase-toggle-button {
        position: absolute;
        right: 3em;
    }
}