@import "../shared";
@import "../modals";

.ridestyler-showcase-product-modal {
    $titleBottom: $modalPaddingTop + 7.5em;

    &-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-page {
        position: absolute !important;
        left: $modalPadding;
        right: $modalPadding;
        top: $titleBottom;
        bottom: $modalPadding;

        overflow: hidden;
    }

    &-summary {
        position: absolute;
        right: 0;
        width: 40%;
        top: 0;
        bottom: 0;
        overflow-y: auto;
    }

    &-image {
        position: absolute;
        left: 0;
        width: 50%;
        top: 0;
        bottom: 0;

        img {
            max-width: 100%;

            @include crispImageRendering;
        }
    }

    .ridestyler-showcase-toggle-button {
        float: right;
    }
}