.ridestyler-showcase-button-picker {
    $border-radius: 0.5em;
    $border-width: 0.05em;

    border: $border-width solid #ccc;
    border-radius: $border-radius;
    background-color: #efefef;
    text-align: center;
    font-size: 1em;

    &-option, &-title {
        padding: 10px;
    }

    &-option {
        &-active {
            background-color: #999;

            &:last-child {
                border-bottom-left-radius: $border-radius - $border-width;
                border-bottom-right-radius: $border-radius - $border-width;
            }
        }
    }
}