@import "../_sprites.scss";
@import "../shared";

.ridestyler-showcase .ridestyler-showcase-share-button {
    .ridestyler-showcase-popover {
        pointer-events: none;

        &.in {
            pointer-events: all;
        }
    }

    &-facebook {
        background-color: #3c569a;
        border: 1px solid #2e4275;
        border-bottom-color: #273763;
        color: #fff;
        
        @include ridestyler-showcase-icon('facebook', after);
    }

    &-twitter {
        background-color: #4baaf4;
        border: 1px solid #1b93f1;
        border-bottom-color: #0e87e5;
        color: #fff;

        @include ridestyler-showcase-icon('twitter', after);
    }

    &-qr-code {
        @include ridestyler-showcase-icon('qr', after);

        display: flex;
        justify-content: center;
        position: relative;

        .ridestyler-showcase-popover {
            $size: 180px;
            width: $size;
            height: $size;
            top: 120%;
            z-index: $zLayer1 + 1;
        }

        .ridestyler-showcase-qr-display-image {
            display: block;
            width: 100%;

            img, canvas {
                width: 100%;
                margin-left: 0;
            }
        }
    }
    
    &-link {
        @include ridestyler-showcase-icon('external-link', after);
    }

    &-email {
        display: flex;
        justify-content: center;
        position: relative;

        .ridestyler-showcase-popover {
            width: 280px;
            top: 120%;
            z-index: $zLayer1 + 1;
        }

        input {
            width: 100%;
        }

        button {
            margin-top: 1em;
            padding: 0.5em 1em;
        }

        @include ridestyler-showcase-icon('envelope-solid', after);
    }
}