@import "../buttons";
@import "../shared";

.ridestyler-showcase-button-picker {
    @include button;
    @include button-skinny;

    text-align: center;
    padding: 0;

    &-title {
        font-size: 1em;
        padding:.5em;
    }

    &-option {
        padding: .5em;
        
        &-container {
            border-bottom-left-radius: 0.1em;
            border-bottom-right-radius: 0.1em;
            
            transition:max-height 0.5s ease-out;
            overflow: hidden;
        }

        &-active {
            text-align: center;
            color: $primary-color;
            background-color: white;

            &:after {
                content:  '';
                position: absolute;
                border-style: solid;
                border-width: .7em .7em .7em 0;
                border-color: transparent $primary-color transparent transparent;
                right: 0;
            }

            &:last-child {
                border-bottom-left-radius: 0.1em;
                border-bottom-right-radius: 0.1em;
            }
        }
    }
}
