@import "../buttons";
@import "../shared";

.ridestyler-showcase-button-picker {
    @include button;
    @include button-skinny;

    padding: 0;
    text-align: center;

    &-option, &-title {
        padding: 10px;
    }

    &-title {
        font-size: 1em;
    }

    &-option {
        &-container {
            background-color: #fff;
            color: $primary-color;
            border-bottom-left-radius: 0.1em;
            border-bottom-right-radius: 0.1em;
        }

        &-active {
            background-color: lighten($primary-color, 10%);
            color: $primary-color-overlaid-text;

            &:last-child {
                border-bottom-left-radius: 0.1em;
                border-bottom-right-radius: 0.1em;
            }
        }
    }
}