@import "../_shared";
@import "../_sprites";

.ridestyler-showcase-pagination {
    &-wrapper {
        width: 100%;

        white-space: nowrap;
        overflow: hidden;

        position: absolute;
        bottom: 0;
    }

    &-option {
        min-width: 20%;
        max-width: 30%;
        padding: 0 10px;

        text-align: center;

        display: inline-block;
        box-sizing: border-box;
        position: relative;
        vertical-align: top;

        margin-bottom: 2em;

        &-display {
            margin: 5px auto;
            width: 50px;
            height: 50px;
        }

        &-label, &-label-secondary, &-label-tertiary {
            color: white;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-label {
            font-size: 1.2em;
        }

        &-label-secondary {
            font-weight: lighter;
            margin-top: 3px;
        }

        &-label-tertiary {
            font-weight: lighter;
            margin-top: 3px;
            color: #ddd;
            font-size: 0.9em;
        }

        &-selected:after {
            content: '•';
            color: white;

            line-height: 0.3em;
            font-size: 2em;

            position: absolute;
            left: 50%;

            height: 8px;
            width: 8px;
            text-align: center;
            margin-left: -4px;
            margin-top: 0.2em;
        }

        &-loading:after {
            content: "";

            line-height: 0.3em;
            font-size: 2em;

            @include crispImageRendering;
            @include rotate;
            
            position: absolute;
            left: 50%;

            background-image: url(assetURL('images/tire-loading.png'));
            background-size: 100%;

            $size: 0.9em;

            width: $size;
            height: $size;
            margin-left: -$size/2;
        }

        &-loader {
            background: url(images/spinner.gif) no-repeat top center;
            background-size: 100%;
            min-width: 50px;
            height: 50px;
        }
    }

    $nextPreviousMargin: 0.5em;
    $nextPreviousWidth: 0.9em;
    $nextPreviousHeight: 1.1em;

    &-next, &-prev {
        color: white;

        position: absolute;
        bottom: 40%;

        width: $nextPreviousWidth;
        height: $nextPreviousHeight;

        border: none;
        background: none;
        outline: none;

        transition: opacity 250ms;

        &:disabled {
            opacity: 0.25;
        }

        // Default button style overrides
        .ridestyler-showcase & {
            font-size: 1.5em;
        }
    }

    &-next {
        right: -$nextPreviousWidth - $nextPreviousMargin;
    }

    &-prev {
        left: -$nextPreviousWidth - $nextPreviousMargin;
    }
}

img.ridestyler-showcase-pagination-option-display {
    @include crispImageRendering;
}
