.ridestyler-showcase-vehicle-details-vehicle {
    &-swatch {
        display: block;
        width: 1em;
        height: 1em;
        margin: 0 1em 0 0;
        float: right;
    }

    &-details {
        width: 11em;        
    }
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}