.ridestyler-showcase-vehicle-details-vehicle {
    &-swatch {
        display: block;
        width: 1em;
        height: 1em;
        margin: 0 0 0 5px;
        float: right;
    }

    &-details {
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;
    }
}