.ridestyler-showcase-pagination {
    
    margin-top: 5.5em;
    height: 50%;
    
    &-option {
        &-label-secondary {
            margin-top: 0;
        }
        
        &-label-tertiary {
            margin-top: 0;
        }
        &:only-child {
            margin-left: 35%;
            width: 100%;
        }
    }
}