.ridestyler-showcase-pagination {
    margin-top: 5.5em;
    height: 50%;
    
    &-option {
        &-label-secondary {
            margin-top: 0;
        }
        
        &-label-tertiary {
            margin-top: 0;
        }
        &:only-child {
            margin-left: 35%;
            width: 100%;
        }
        &-loader {
            background: url(images/spinner.gif) no-repeat top center;
            background-size: 50%;
            min-width: 50px;
            height: 50px;
        }
    }
}