@import "../../shared";
@import "../../modals";

.ridestyler-showcase-share {
    .ridestyler-showcase-viewport {
        bottom: 15%;
    }

    .ridestyler-showcase-share-button {
        width: 5em;
        height: 4em;
        &-qr-code {
            .ridestyler-showcase-popover {
                $size: 100px;
                
                width: $size;
                height: $size;
            }
            img {
                margin: 0;
            }
        }
    }
}