.ridestyler-showcase-table {
    tbody {
        height: 55%;
        text-align: center;
    }
}

.ridestyler-showcase-product-modal-image {
    img {
        height: 85%;
    }
}


// Prevents overflow on fixed header - iPhone 5 lanscape
@media only screen and (max-height: 380px) and (min-height: 0px) {
    .ridestyler-showcase {
        &-product-modal {
            img{
                height: 80%;
            }
        }
    }
}