.ridestyler-showcase-table {
    tbody {
        height: 55vh;
        text-align: center;
    }
}

.ridestyler-showcase-product-modal-image {
	img {
		height: 85%;
	}
}

// Prevents overflow on fixed header - iPhone 5 lanscape
@media only screen and (max-height: 320px) {
    .ridestyler-showcase {
        &-product-modal {
            &-page {   
                tbody {
                    max-height: 50vh;
                }
            }
            &-summary {
                tbody {
                    max-height: 50vh;
                }
            }
        }
    }
}