
@import "../../shared";

.ridestyler-showcase-tab-bar {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    content-align: center;
    align-items: center;
    justify-content: center;
    
    &-vertical {
        bottom: 0;
        height:50%;
    }


    &-tab {
        cursor: pointer;
        width: 100%; height: 100%;
        $baseFontSize: 2em;
        position: relative;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;
        content-align: center;
                        
        &-icon{
        z-index: $zLayer2;

            i:before {
                font-size: $baseFontSize - 1.1;
                color: white;
                width: 100%;
            }
       
        }
        
        .ridestyler-showcase-icon {
            vertical-align: middle;
            font-size: $baseFontSize;
            -webkit-text-stroke: .01em black;

            &-paint {
                -webkit-text-stroke: .03em black;
            }
        }
    
        &-background {
            top: 0; bottom: 0; right: 0; left: 0;
            
            svg {
                position: absolute;
                top: 0; bottom: 0; right: 0; left: 0;
                background-color: black;
            }
            
            &-nosvg {
                background-color: black;
            }
        }
    
        &-active {
            .ridestyler-showcase-tab-bar-tab-background {
                svg {
                    background-color: transparent;
                                
                }
        
                &-nosvg {
                    &:after {
                        content: '';
                        border-style: solid;
                        border-width: 20px 20px 20px 0;
                        border-color: transparent #aaa transparent transparent;
                        
                        position: absolute;
                        top: 50%;
                        right: 0;
                        margin-top: -20px;
                    }
                }
            }
        }
        
        &:after {
            display: flex;
            content-align: center;
            align-items: center;
            justify-content: center;
            font-size: $baseFontSize - 1;
            content: attr(title);
            position: relative;
            width: 100%;
            bottom: 0;
            text-align: center;
            color: #ddd;    
        }
    }

    &-horizontal {
        .ridestyler-showcase-tab-bar-tab {
            display: inline-block;
        }
    }
}