@import '../responsive-mixins';

@include responsiveVehicleSelectionModal($width: auto, $linePadding: 10px);

.ridestyler-showcase-vehicle-selection-content
{
    top: 2.5%;
}

// Prevents image from overlapping text while allowing fullscreen selection for mobile landscape - iPhone 5 / iPhone X
@media only screen and (max-height: 375px) {
	.vsm-modal {
	    @include baseFont;
	    margin: .75em;

	    img {
	        margin-top: -2.75em;
	    }
	    height: 100vh;
	}
}

.vsm-column-2 {
		font-size: 1.5em;
    margin-top: -1em;

    & + .no-style {
        margin-top: -1.45em;
        margin-bottom: -.35em; 
    }

    &.vsm-before {
        margin-top: -1.45em;
        margin-bottom: -.35em;        
    }
}

.vsm-single-step {
    .vsm-before {
        margin: -1em 0 0 0;
    }
}

div.vsm-group-wrap.center-piece {
    margin-top: 1em;
}

.vsm-line-step .vehicle-result-name {
    font-size: 1.5em;
    margin-top: -.05em;
}

.active {
	padding-bottom: 1em;
}

.vsm-modal .dot-info, .vsm-modal .dot-info.active {
	overflow: visible;
}

 .dot-info.active {
    margin-top: .5em;
    overflow: visible;
}