#ridestyler-vehicle-config {
    width: 100%;
}
#ridestyler-vehicle-config .config-select{
    text-align: left;
}
#ridestyler-vehicle-config select {
    display: block;
    height: 30px;
    width: 100%;
    margin: 0px 0;
}
#ridestyler-vehicle-config label {
    display: inline-block;
    position: relative;
    background: #fff;
    top: 8px;
    left: 6px;
    font-size: 0.8em;
}
#ridestyler-vehicle-config button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}