@mixin responsiveTabBar($tabBarWidth: 150px, $iconFontSize: 1em, $iconTextFontSize: 2em) {
    .ridestyler-showcase-vertical-tab-bar {
        width: $tabBarWidth;
        font-size: $iconFontSize;
    
        &-tab-icon {
            font-size: $iconTextFontSize;
        }
    }
    
    .ridestyler-showcase-customizations, .ridestyler-showcase-viewport, .ridestyler-showcase-rotate-vehicle {
        margin-left: $tabBarWidth;
    }
}