&.ridestyler-showcase-breakpoint-tv {
    font-size: 24px;
    
    @import "tv/tab-bar";
    @import "tv/pagination";
    @import "tv/share-modal";
    @import "tv/showcase-table";
    @import "tv/vehicle-selection";
    @import "tv/vehicle-visualization";
}
