.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.alert-dismiss {
	position: absolute;
	top: 0;
	right: 0;

	background-color: transparent;
	border-width: 0;
	color: currentColor;

	&:focus {
		box-shadow: none;
	}
}

@mixin alert-variant($color) {
    color: darken($color, 10%);
    background-color: lighten($color, 30%);
	border-color: darken($color, 10%);
}

.alert-primary { @include alert-variant($primary-color); }
.alert-error { @include alert-variant($error-color); }
.alert-success { @include alert-variant($success-color); }