button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.95rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;

    &.unstyled {
        background: none;
        border: none;
    }

    &.success {
        background-color: $success-color;
        border-color: $success-color;
    }

    &.dark {
        background-color: $dark-background-color;
        border-color: $dark-background-color;
        color: $dark-text-color;
    }

    &.secondary {
        background-color: $secondary-color;
        border-color: $secondary-color;
    }

    cursor: pointer;
}

button:focus {
    box-shadow: 0 0 0 0.2rem $primary-color;
    box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
    outline: 0;
}

button:disabled {
    opacity: 0.65;
    cursor: default;
}

.floating-action-button {
    width: 70px;
    height: 70px;
    background-color: $primary-color;
    border-radius: 50%;
    box-shadow: 0 3px 10px 0 #666;

    transition-duration: 0.18s;
    transition-property: box-shadow, transform, opacity, -webkit-transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 70px;

    position: fixed;
    right: 50px;
    bottom: 50px;

    padding: 0;

    transform: rotate(0deg);

    svg {
        width: 60px;
        height: 60px;
        margin-top: 4px;
    }

    &:disabled {
        transform: rotate(60deg);
        opacity: 0;
    }
}