header {
    display: table;
    width: 100%;
    box-sizing: border-box;

    > * {
        display: table-cell;
        vertical-align: middle;
    }

    h1 {
        margin: 0;
        vertical-align: middle;
    }

    &.main {
        height: 70px;
        padding: 5px 10px;
    }

    &.dark {

        background: $dark-background-color;
        color: $dark-text-color;

    }
}