input[type=text], input[type=search] {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.95rem;
    line-height: 1.5;
    color: $input-text-color;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-sizing: border-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
        color: $input-text-color;
        background-color: #fff;
        border-color: desaturate($primary-color, 50);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
    }

    &:disabled {
        background-color: #e9ecef;
        opacity: 1;
    }

    &.error {
        border-color: $error-color;
    }
}

.input-group {
    display: table;
    width: 100%;
    
    .input-group-addon, input {
        display: table-cell;
    }

    .input-group-addon {
        text-align: center;
        width: 1%;
        white-space: nowrap;
    }

    input + .input-group-addon {
        padding-left: 4px;
    }
}