$primary-color: #00aff0;
$text-color: #212529;
$input-text-color: #495057;
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #eca200;
$dark-background-color: #242b32;
$dark-text-color: #efefef;
$secondary-color: #aaa;